= simple_form_for @pic, html: {multipart: true} do|f|
  - if @pic.errors.any?
    #errors
      %h
      = pluralize(@pic.errors.count, "error")
      prevented this Pic form saving
      %ul
        - @pic.errors.full_messages.each do|msg|
          %li= msg
          
  .form_group
    = f.input :image, input_html: {class: 'form_control'}
  .form_group
    = f.input :title, input_html: {class: 'form_control'}
  .form_group
    = f.input :description, input_html: {class: 'form_control'} 
  = f.button :submit, class: "btn btn_info"